
//o Main é praticamente todo o corpo do login
.main-login{
    //Width é a largura, então estamos informando 100vw para ela preencher 100% a tela 
    width: 100vw;

    //Height é a altura, seguimos a mesma logica de cima, mas trocando vw por vh
    height: 100vh;

    //o linear-gradient é oque faz o degrade e só encontramos no background-image. Começamos informando para qual direção
    //será feito o degrade, no caso informamos para a direita, e informamos as 3 cores do degrade
    // background-image: linear-gradient(to right, #03bebe, #029292,#004949);
     background: #00ecec;

    //usamos o display para organizar, e o flex para deixar lado a lado
    display: flex;

    //Utilizado para centralizar tudo no eixo x ->, utilizamos center para centralizar no centro
    justify-content: center;

    //Utilizado para os itens ficar centralizado também
    align-items: center;
}


//parte direita da pagina
.right-page{
    
    //Informado uma largura de 50, pois queremos que ocupe metade da tela
    width: 50vw;

    //Utilizamos 100 para ocupar toda a tela para cima ou para baixo, ocupando então 50% da pagina
    //os outros 50% vai ser para a left-page
    height: 100vh;

    //Utilizamos o display, justify-content e align-items igual o main-login, pelos mesmos motivos
    display: flex;
    justify-content: center;
    align-items: center;

    //Acrescentamos o flex-direction: Column, pois queremos colocar a imagem embaixo do titulo,
    //mesmo utilizando o display flex, caso não tivesse o Column a imagem ficaria ao lado do titulo
    flex-direction: column;



}


.img-login{
    width: 40rem;
}


//Parte esquerda da pagina
.left-page{
    //Informado a mesma estrutura da right-page, pois se trata da outra metade igual
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


//Bloco na parte esquerda, onde tem os campos para realizar o login
.card-login{
    //Colocamos a porcentagem, para pegar 60% em relação a div (que tem o tamanho de 50vh), ou seja, o card login tem 60% do tamanho de 50vh
    width: 60%;

    //informado o mesmo padrão 
    display: flex;
    justify-content: center;
    align-items: center;

    //para ficar um de baixo do outro
    flex-direction: column;

    // Padding é a margem, o primeiro valor informado trata-se do eixo Y (no caso, ele terá 30px no eixo de cima e de baixo)
    //o segundo valor trata-se do eixo X (no caso, ele terá 35px nos eixos laterais)
    //Obs: os paddings são margens para dentro da div
    padding: 1.875rem 2.125rem;
 
    background-color:  #009999;
    
    //Utilizado para arrendodar a borda do card
    border-radius: 20px; 

    //O box-shadow é a sombra, o primeiro valor trata-se do X (e como a gente quer uma sombra central, ela vai ser 0), o segundo valor
    //é para a sombrar mover para cima ou para baixo (informamos 10px para ela descer, caso a gente informar -10px a sombra iria subir),
    //o terceiro valor é o Blur, e informamos um de 40px, e por ultimo a cor e infomamos um preto com transparência
    box-shadow: 0px 10px 40px #00000056;
}


//Titulo do bloco informado acima
.card-login > h1{
    color: #FFF;

    //grossura da font
    font-weight: 800;

    //Retirando a margim para ficar algo bem legal
    margin: 0;

    margin-top: 1rem;

    // text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    
}

.card-login > h2{

    color:#FFF;

    font-weight: 800;

    margin-bottom: 1rem;

    margin-top: 0.5rem;

    // text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);

}


//formatação do botão de LOGAR
.button-login{
    
    //larguar de 100%
    width: 100%;

    //padding de 16px no eixo X (<- eixos laterais ->) e 0px no eixo y
    padding: 1rem 0;

    //Margem de 25px nos dois eixos
    margin: 1rem;

    //Sem a bordinha estranha do HTML
    border: none;

    //Arredondando a borda
    border-radius: 8px;

    //outline none, para não aparecer a bordiinha quando cliclamos
    outline: none;

    //para o texto ficar em capslock
    text-transform: uppercase;

    //grossura da font
    font-weight: 800;

    //Espaço entre as letras
    letter-spacing: 2px;

    //cor da fonte
    color: #009999;

    //cor do botão
    background-color: #fff;

    //para quando botar o mouse em cima do botão, o cursor ficar com o dedinho para clicar
    cursor: pointer;

    //Inserido uma sombrinha para dar aquele charme
    box-shadow: 0px 10px 40px -12px rgb(0, 153, 153);
}


//Tentando fazer uma responsividade 

//Estamoss informando ao CSS, que enquanto tiver uma tela de 950px, adicione as informações
@media only screen and (max-width: 950px){
    
    //ou seja, qnd a tela for menor que 950px, o card do login deve ter 85%, caso a tela ter mais de 950px, o card fica no tamanho informado
    .card-login{
        width: 85%;
    }
}


//responsividade para celular 
@media only screen and (max-width: 600px){

    //o main-login vira column para ficar um embaixo do outro
    .main-login{
        flex-direction: column;
    }

    //a parte da imagem é desligada, para ficar apenas o card de login
    .right-page{
        display:none;
    }

    //apenas a parte do card-login apareça e ocupe a tela
    .left-page{
        width: 100%;
        height: auto;
    }

    //Para o card do login não ficar encostado na borda
    .card-login{
        width: 90%;
    }
}