<Main>

    <div class="main-login">

        <div class="left-page">
            <div class="card-login">
                <h1>CURRICULO</h1>
                <h2>Lucas Chaves</h2>
                <div class="textfield">
                    <label for="user">E-mail</label>
                    <input type="text" name="user" placeholder="email@email.com"> 
                </div>
                <div class="textfield">
                    <label for="user">Senha</label>
                    <input type="passsword" name="password" placeholder="Senha"> 
                </div>
                <button class="button-login" routerLink="/home">ENTRAR</button>
            </div>
        </div>
       
        <div class="right-page">
            <h1>Olá, meu nome é Lucas Chaves<br>E essse é meu curriculo dinamico!</h1>
            <img src="/assets/_img/hand-coding-animate.svg" class="img-login" alt="hand-coding">
        </div>
    </div>

</Main>

