<main>
    <div class="main-about-me">

        <div class="left-about-me">
            <img src="/assets/_img/Raising hand-cuate.svg" alt="about-me" width="250px" class="image-about-me">
        </div>

        <div class="right-about-me">
            <h1>Um pouco sobre mim</h1>
            <div class="text-about-me">
                <p>
                    Meu nome é Lucas Emanuel Chaves, tenho 22 anos e sou nascido e criado na cidade de Blumenau.
                    me considero uma pessoa divertida, embora de inicio eu sou um pouco timido, adoro fazer
                    novas amizades e conversar com pessoas. Meu esporte favorito é o futebol, e amo acompanhar
                    o futebol europeu, gosto também de jogar, mesmo não sendo muito bom.
                </p>
                <br>
                <p>
                    Em questão de trabalho, sou uma pessoa que gosto muito de trabalhar em equipe, me considero
                    também uma pessoa muito esforçada, gosto muito de ensinar e ajudar os outros. Tenho como objetivo 
                    pessoal, sempre ser uma pessoa boa onde quer que eu passse, para sempre ser lembrado de forma boa
                    pelas pessoas.
                </p>
            </div>
        </div>

    </div>
</main>