<main>
    <div class="main-about-me">

        <div class="left-about-me">
            <img src="/assets/_img/Mention-bro.svg" alt="about-me" width="250px" class="image-about-me">
        </div>

        <div class="right-about-me">
            <h1>Um pouco sobre mim</h1>
            <div class="text-about-me">
                <p>
                    Olá, bem vindo ao meu site desenvolvido em Angular, esse site foi desenvolvido em abril de 2022
                    enquanto estava fazendo o curso do +Devs2Blu, o esquelo do site foi desenvolvido em Abril mas sempre
                    atualizo ele com novas informações. Esse site além de servir como uma grande ferramenta de estudo,
                    serve
                    também para você que está lendo, me conhecer de uma forma melhor e mais interativa!
                </p>
                <br>
                <p>
                    Meu nome é Lucas Emanuel Chaves, tenho 23 anos, sou nascido e criado na cidade de Blumenau. Meu
                    esporte
                    favorito é futebol, eu amo acompanhar futebol europeu e sou um grande fã da seleção brasileria
                    (Esse ano o Hexa vem 🏆), gosto de jogar também, mesmo não sendo muito bom 😅. Sou uma pessoa tímida
                    quando estou em um ambiente novo, mas depois de um tempo consigo me soltar e ser uma pessoa mais
                    extrovertida, que gosta de conversar e fazer novas amizades.

                </p>
                <br>
                <p>
                    Em questão de trabalho, gosto muito de trabalhar em equipe, me considero também uma pessoa muito
                    esforçada, gosto muito de ensinar, ajudar e aprender com outras pessoas. Tenho como objetivo
                    pessoal, sempre ser uma pessoa boa onde quer que eu passse, para sempre deixar o meu legado.
                </p>
            </div>
        </div>

    </div>
</main>