<main>

    <div class="titulo">
        <h1>Aplicações na pratica</h1>
    </div>

<div class="contato-main">

        <section class="card">
            <img src="./assets/_img/java.png" alt="telefone-contato">
            <h3>JAVA</h3>
            <p>Projeto de um CRUD sobre filmes feito em JAVA e springboot</p>
            <a href="https://github.com/chavesluucas/estudo-filmes" target="_blank">Ver Mais</a>
        </section>
        
        <section class="card">
            <img src="./assets/_img/script-java.png" alt="linkedin-contato">
            <h3>Pokemon API</h3>
            <p>Projeto em Angular consumindo uma API de Pokemon</p>
            <a href="https://github.com/chavesluucas/consumindo-pokemonAPI" target="_blank">Ver Mais</a>
        </section>

        <section class="card">
            <img src="./assets/_img/html.png" alt="email-contato">
            <h3>IBGE API</h3>
            <p>Projeto em Angular consumindo API do IBGE</p>
            <a href="https://github.com/chavesluucas/consumoAPI-IBGE" target="_blank">Ver Mais</a>
        </section>

</div>
</main>