<footer>
    <div class="main-footer">
    <div class="up-footer">
    <h3>Lucas Emanuel Chaves - Desenvolvedor Jr</h3>
    </div>
    <hr>
    <div class="down-footer">
        <img src="./assets/_img/wpp.png" alt="wpp"><a href="https://api.whatsapp.com/send?phone=5547999345707&text=Ol%C3%A1%20Lucas!" target="_blank">(47) 9 9934-5707</a>
        <img src="./assets/_img/email.png" alt="email"><a><u>luucas.chaves@gmail.com</u></a>
        <img src="./assets/_img/linkedin.png" alt="linkdln"><a href="https://www.linkedin.com/in/lucas-emanuel-chaves-b5a3971b5/" target="_blank">Lucas Emanuel Chaves</a>
        <img src="./assets/_img/github.png" alt="linkdln"><a href="https://github.com/chavesluucas" target="_blank">chavesluucas</a>
    </div>
</div>
</footer>