<main>

    <div class="titulo">
        <h1>Por onde você pode me encontrar?</h1>
    </div>

<div class="contato-main">

        <section class="card">
            <img src="./assets/_img/telefone-contato.png" alt="telefone-contato">
            <h3>Celular</h3>
            <b>(47) 9 9934-5707</b>
            <a href="https://contate.me/Lucas.Chaves" target="_blank">Chamar no whatsapp</a>
        </section>

        <section class="card">
            <img src="./assets/_img/linkedin-contato.png" alt="linkedin-contato">
            <h3>LinkedIn</h3>
            <b>Lucas Emanuel Chaves</b>
            <a href="https://www.linkedin.com/in/lucas-emanuel-chaves-b5a3971b5/" target="_blank">Perfil do LinkedIn</a>

        </section>

        <section class="card">
            <img src="./assets/_img/email-contato.png" alt="email-contato">
            <h3>E-Mail</h3>
            <b>luucas.chaves@gmail.com</b>
            <a href="mailto:luucas.chaves@gmail.com? subject=Olá Lucas!" target="_blank">Me envie um E-mail</a>
        </section>

        <section class="card">
            <img src="./assets/_img/github-contato.png" alt="github-contato">
            <h3>GitHub</h3>
            <b>chaaveslucas</b>
            <a href="https://github.com/chavesluucas" target="_blank">Perfil do GitHub</a>
        </section>


</div>
</main>
