<main>
    <div class="main-conhecimentos">

        <div class="left-conhecimentos">
            <img class="img-conhecimentos" src="./assets/_img/Coding workshop-amico.svg" alt="">
        </div>

        <div class="right-conhecimentos">
            <h1>Conhecimentos e Habilidades</h1>
            <div class="text-conhecimentos">
                <p> Agora que provavelmente você já conhece um pouco sobre mim, vou comentar aqui com você um
                pouco mais sobre minhas habilidadess, conhecimentos, qualidades e defeitos. Sou uma pessoa 
                um pouco timida quando chego em um ambiente novo, mas sempre me dou muito bem com as pessoas, eu 
                adoro trabalhar em equipe, sou um pouco brincalhão e sempre tento deixar o clima em cima. Sou um 
                pouco desorganizado, mas é algo que venho trabalhando para melhorar, sou uma pessoa muito esforçada 
                e sempre onde passo, tento ser o melhor possível para ser lembrado como uma boa pessoa.</p>
                <br>
                <p> Em relação a programação, gosto muito da parte do front-end, já fiz curso de UX/UI design e 
                alguns curso de front, mas meu coração também tem um espacinho para o back-end. Atualmente tenho 
                conhecimento em Java, Banco de Dados, HTML, CSS, Java Script e Angular, mas sempre estou buscando 
                minha evolução para dominar as linguagens que já conheço, e também conhecer novas linguagens.
                </p>
            </div>
        </div>

    </div>
</main>
