<main>
    <div class="main-conhecimentos">

        <div class="left-conhecimentos">
            <img class="img-conhecimentos" src="./assets/_img/Programming-pana.svg" alt="">
        </div>

        <div class="right-conhecimentos">
            <h1>Conhecimentos e Habilidades</h1>
            <div class="text-conhecimentos">
                <p> Agora que você já me conhece um pouco melhor, vou comentar aqui com você um
                pouco mais sobre minhas habilidadess e conhecimentos. Como já comentado no tópico "UM POUCO 
                SOBRE MIM", eu sou uma pessoa um pouco timida quando chego em um ambiente novo, mas sempre me dou
                 muito bem com as pessoas, eu adoro trabalhar em equipe, sou um pouco brincalhão e sempre tento deixar
                 o clima lá em cima. Admito que sou um pouco desorganizado, mas é algo que venho trabalhando para melhorar,
                sou uma pessoa muito esforçada e todo dia que passa sempre me esforço para dar o melhor de mim.</p>
                <br>
                <p> Em relação a programação, eu me formei como desenvolvedor no programa +Devs2Blu(vou comentar um pouco
                     sobre no tópico abaixo), gosto muito de front-end e também gosto bastante de back-end, estudo bastante 
                     os dois para saber qual lado me encaixo mais. Gosto muito da área de desenvolvimento e tudo que está 
                     por trás dela, além de desenvolver gosto de entender como todo o fluxo funciona, por causa dessa curiosidade 
                     eu já fiz um curso de UX/UI Design na ProWay(gostei demais do curso) e atualmente estou fazendo faculdade de 
                     analise e desenovlvimento de sistemas na Unisociesc.
                </p>
                <br>
                    
                <p>
                    Tenho como hablidades de programação, na parte do back-end conhecimento com JAVA, o framework springboot, RestAPI's e 
                    banco de dados como MySQL e PostgreSQL. Na parte do front-end tenho conhecimento em HTML5, CSS3, JavaScript e TypeScript 
                    e também tenho conhecimento consumindo API em dois framework, o primeiro é o Angular(Esse site está sendo feito nesse
                     framework) e também o React.JS. E só a titulo de curiosidade, também desenvolvi um site pessoal com informações parecidas 
                     em ReactJS, caso queira conhecer basta clicar no botão abaixo.
                </p>
                <div class="button">
                    <a href="https://lucaschaves.tech" target="_blank">Meu Site em ReactJS</a>
                </div>
            </div>
        </div>

    </div>
</main>
