<main>
    <div class="main-certificados">
        
        <div class="left-certificados">
            <h1>Certificados</h1>
            <div class="text-ceritificados">
                <p>
                    Já realizei alguns cursos em plataformas digitais, mas os cursos 
                    que realizei e conclui, que mais agregaram ao meu conhecimento foram 
                    os da ProWay, segue abaixo alguns cursos concluidos e certificados: 
                </p>
                <br>
            <div class="list-certificados">
                <p>Logica de Porgramação I e II</p>
                <p>Trabalhando com UX/Ui Design</p>
                <p>Fundamentos dee HTML e CSS</p>
                <p>WJJ-JavaScript-Jquery e Ajax</p>
            </div>         
            </div>
        </div>
 
        <div class="right-certificados">
            <img class="img-proway" src="./assets/_img/proway.jpg" alt="proway">
        </div>

    </div>
</main>