<main>
    <div class="main-devsblu">

        <div class="right-devsblu">
            <h1>+Devs2Blu</h1>
            <div class="text-devsblu">
                <p>
                    Um grande orgulho que eu tenho, é ter participado da primeira edição do programa +Devs2Blu,
                    iniciativa realizado pela prefeitura de Blumenau em parceria com a Blusoft. A edição teve inicio 
                    no dia 22/11/2021 e foi uma jornada de 480 horas, sendo 400 horas em conhecimentos de JAVA e 
                    Angular e 80 horas em conhecimentos de ingles.
                </p>
                <br>
                <p>
                    Eu me formei oficialmente como programador no dia 01/06/2022. Foi uma grande jornada, onde fiz grandes 
                    amizades e conseguir me desenvolver muito bem com programador, onde o programa me deu uma base 
                    bastante solida que está me permitindo com estudos me desenvolver cada dia mais.
                </p>
                <br>
                <p>
                    O +Devs2Blu teve o projeto final um pouco diferente do Entra21, o projeto foi em formado de Hackaton. 
                    Explicando brevemente no dia 20/05/2022 foi sorteado as equipes (minha equipe se chamava DevSelect) e 
                    no mesmo dia escolhemos os temas e começamos a botar nossas ideias no papel. O desenvolvimento do nosso 
                    projeto foi até dia 26/05/2022 e graças ao trabalho incrivel da equipe DevSelect conseguimos desenvolver um 
                    projeto bem legal.
                </p>
                <br>
                <p>A apresentação do projeto foi dia 27/05/2022 para as empresas ancoras e convidados que estavam no dia. por ser 
                    em formato de Hackaton teve colocação e prêmio para o primeiro colocado. Lembra que eu tinha comentado que a 
                    equipe devSelect tinha feito um projeto bem legal? Além do projeto ensaiamos bastante e conseguimos fazer uma
                    apresentação muito legal, que rendeu pra gente o primeiro lugal 🎉🎉🎉. Foi uma sensação incrivel, um sentimento 
                    de dever cumprido e todos esforço nos 6 meses valeu a pena, eu até apareci na TV mas o link da entrevista fica para 
                    outro momento 😅.
                </p>
                <div class="button">
                    <a href="https://www.devs2blu.com.br" target="_blank">Conheça Mais Sobre o +Devs2Blu</a>
                </div>
            </div>
        </div>

        <div class="left-devsblu">
            <img class="img-devsblu" src="./assets/_img/dev2blu.png" alt="+devs2blu">
        </div>

    </div>
</main>