<main>
    <div class="main-devsblu">

        <div class="right-devsblu">
            <h1>+Devs2Blu</h1>
            <div class="text-devsblu">
                <p>
                    Um grande orgulho que eu tenho, é poder participar do programa +Devs2Blu, iniciativa realizado
                    pela prefeitura de Blumenau em parceria com a Blusoft, o programa visa a formação de 25 alunos em
                    Java e Inglês. Eu sou um dos 25 alunos
                    que conseguiu entrar no programa, ele está na sua primeira edição e teve aproximadamente 840
                    inscrições. As aulas começaram no dia 22/11/2021
                    e a previsão para encerrar as aulas é dia 20/05/2022, e a formatura será dia 26/05/2022. O curso ao
                    todo tem 480 horas, sendo 400 horas para
                    Java e 80 para inglês.
                </p>
                <div class="button">
                    <a href="https://www.devs2blu.com.br" target="_blank">Conheça Mais Sobre o +Devs2Blu</a>
                </div>
            </div>
        </div>

        <div class="left-devsblu">
            <img class="img-devsblu" src="./assets/_img/dev2blu.png" alt="+devs2blu">
        </div>

    </div>
</main>