.main-devsblu{
    width: 100vw;
    height: 70vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.left-devsblu{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-devsblu{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-devsblu > h1 {
    margin-bottom: 10px;
    color: #009999;
    letter-spacing: 2px;
}

.text-devsblu > p {
    color: rgb(92, 91, 91);
    text-align: justify;
}

.text-devsblu{
    width: 70%;
}

.img-devsblu{
    width: 34vw;
}

.button{
    align-items: center;
    justify-content: center;
    display: flex;
}

a{
    width: 100%;
    text-align: center;
    margin-top: 6%;
    display: block;
    text-decoration: none;
    justify-content: center;
    overflow: hidden;
    padding: 14px 0px;
    font-size: 12px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: white;
    background-color: #009999;
    cursor: pointer;
}