<main>
    <div class="main-professional">
        <div class="left-professional">
            <h1>Um pouco sobre minha vida profissional</h1>
            <div class="text-professional">
                <p>
                    Comecei minha vida profissional como menor aprendiz em administração pela Bunge em 2017, eu fazia
                    curso no Senai
                    duas vezes na semana, e os outros dias eu trabalhava na empresa na área de Excelencia Operacional.
                    No mesmo ano,
                    eu acabei saindo para ir em busca de um trabalho com carga horaria integral, mas antes de sair
                    deixei um curriculo
                    com o cordenado da área, um mês depois de minha saida, recebi uma ligação para uma entrevista de
                    emprego na NeoBPO
                    (empresa que prestava serviço para a Bunge), fiz a entrevista e passei, no dia 02/01/2019 iniciava
                    minha jornada de
                    3 anos e 1 dia na NeoBPO.</p>
                <br>
                <p>
                    Na NeoBPO tive muito aprendizado, trabalhei durante 1 ano e 4 meses no help-desk, dando suporte a
                    colaboradores, clientes,
                    fornecedores, representante e entre outras pessoas que ligavam para a central. Depois de muito
                    esforço, falhas e acertos,
                    recebi uma promoção para trabalhar no nivel 2 do backoffice, e entrei para a área que eu mais
                    gostava da Bunge, a área de
                    cadastro (famoso MasterData).
                </p>
                <br>
                <p>
                    Durante o tempo em que fiquei no cadastro, estudava em paralelo programação, fazendo cursos na
                    ProWay e estudando via WEB,
                    em busca do meu crescimento profissional, consegui entrar no projeto da prefeitura de Blumenau, o
                    +DevsToBlu e decidi
                    então, sair da minha zona de conforto, e no dia 03/01/2022 (depois de 3 anos e 1 dia) me despedi da
                    NeoBPO/Bunge e comecei
                    a minha caminhada no mundo da programação.
                </p>
                <br>
                <p>
                    E no mesmo mês, entrei para o time da Orbit Pages, como Desenvolvedor Trainee e também realizando o
                    papel de QA.
                </p>
            </div>
        </div>

        <div class="right-profissional">
            <img class="image-professional" src="/assets/_img/digital-presentation-animate.svg"
                alt="digital-presentation-animate">
        </div>
    </div>
</main>