.main-professional {
    //Width é a largura, então estamos informando 100vw para ela preencher 100% a tela
    width: 100%;

    //Height é a altura, colocamos 60vh para ocupar só uma parte
    height: 60%;

    //background só para deixar de boa
    background-color: rgb(255, 255, 255);

    //usamos o display para organizar, e o flex para deixar lado a lado
    display: flex;

    //Utilizado para centralizar tudo no eixo x ->, utilizamos center para centralizar no centro
    justify-content: center;

    //Utilizado para os itens ficar centralizado também
    align-items: center;

    overflow: hidden;
}

.left-professional {
    //Informado uma largura de 50, pois queremos que ocupe metade da tela
    width: 40%;
    //Utilizamos 100 para ocupar toda a tela para cima ou para baixo, ocupando então 50% da pagina
    //os outros 50% vai ser para a left-page
    height: 100%;
    //Utilizamos o display, justify-content e align-items igual o main-login, pelos mesmos motivos
    display: flex;
    justify-content: center;
    align-items: center;
    //Acrescentamos o flex-direction: Column, pois queremos colocar a imagem embaixo do titulo,
    //mesmo utilizando o display flex, caso não tivesse o Column a imagem ficaria ao lado do titulo
    flex-direction: column;

    margin-bottom: 2%;
}

.left-professional > h1 {
    margin-bottom: 10px;
    color: #3e82e8;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    // font-size:24px ;
}

.image-professional {
    width: 24vw;
}

.right-profissional{
    //Informado a mesma estrutura da right-page, pois se trata da outra metade igual
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.text-professional > p{
    color: rgb(92, 91, 91);
    align-items: left;
    text-align: justify;
}

.text-professional{
    overflow: hidden;
}


//Tentando fazer uma responsividade

//Estamoss informando ao CSS, que enquanto tiver uma tela de 950px, adicione as informações
@media only screen and (max-width: 1600px){

    //ou seja, qnd a tela for menor que 950px, o card do login deve ter 85%, caso a tela ter mais de 950px, o card fica no tamanho informado
    .main-professional{
        width: 100%;
    }

    .left-professional > h1 {
        font-size: 20px;
        margin-bottom: 10px;
        color: #3e82e8;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        overflow: hidden;
    }

    .text-professional > p {
        font-size: 16px;
    }

}


@media only screen and (max-width: 1400px){

    //ou seja, qnd a tela for menor que 950px, o card do login deve ter 85%, caso a tela ter mais de 950px, o card fica no tamanho informado
    .main-professional{
        width: 100%;
    }

    .left-professional > h1 {
        font-size: 18px;
        margin-bottom: 10px;
        color: #3e82e8;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        overflow: hidden;
    }

    .text-professional > p {
        font-size: 14px;
    }
}


//responsividade para celular
@media only screen and (max-width: 600px){

    //o main-login vira column para ficar um embaixo do outro
    .main-login{
        flex-direction: column;
    }

    //a parte da imagem é desligada, para ficar apenas o card de login
    .right-page{
        display:none;
    }

    //apenas a parte do card-login apareça e ocupe a tela
    .left-page{
        width: 100%;
        height: auto;
    }

    //Para o card do login não ficar encostado na borda
    .card-login{
        width: 90%;
    }
}
