<main>
    <div class="main-professional">
        <div class="left-professional">
            <h1>Um pouco sobre minha vida profissional</h1>
            <div class="text-professional">
                <p>
                    Comecei minha carreira profissional dia 02/01/2019 na empresa NeoBPO, meu primeiro cargo foi de 
                    Analista de Processos e Negocios III (Um nome bonitinho para atendente de Service Desk), eu 
                    atuava como antende abrindo chamados para clientes, fornecedores e colaboradores da Bunge Brasil.
                </p>
                <br>
                <p>
                    Na NeoBPO tive muito aprendizado, trabalhei durante 1 ano e 4 meses no help-desk, dando suporte a
                    colaboradores, clientes, fornecedores, representante e entre outras pessoas que ligavam para a
                    central. Depois de muito esforço, falhas e acertos, recebi uma demanda especial para atuar em sistemas
                    internos da Bunge, onde me destaquei e consegui uma promoção para trabalhar no nível 2 do
                    backoffice, e entrei para a área que eu mais gostava da Bunge, a área de cadastro (famoso
                    MasterData).
                </p>
                <br>
                <p>
                    Durante o tempo em que fiquei no cadastro, estudava em paralelo programação, fazendo cursos na
                    ProWay e estudando via WEB, em busca do meu crescimento profissional, consegui entrar no projeto da
                    prefeitura de Blumenau: o +DevsToBlu, decidi então sair da minha zona de conforto e no dia
                    03/01/2022 (depois de 3 anos e 1 dia) me despedi da NeoBPO/Bunge e comecei a minha caminhada no
                    mundo da programação.
                </p>
                <br>
                <p>
                    No dia 04/01/2022 entrei oficialmente na startup Orbit Pages, onde ganhei uma grande base no mundo 
                    da programação e conheci pessoas maravilhosas que me ajudaram muito para o meu crescimento. Iniciei 
                    minha caminhada escrevendo testes de qualidade para o front-end (testes escritos utilizando Cypress), 
                    logo depois escrevi testes de coberturar para o back-end e após terminar essa demanda, comecei a atuar 
                    diretamente no front-end fazendo algumas correções e desenvolvendo algumas features. Infelizmente a 
                    minha caminhada na Orbit se encerrou no dia 01/08/2022, mas foi aproximadamente 8 meses intensos, 
                    muito importante e cheio de aprendizados que vou levar para a minha vida profissional.
                </p>
            </div>
        </div>

        <div class="right-profissional">
            <img class="image-professional" src="/assets/_img/Starting a business project-amico.svg"
                alt="digital-presentation-animate">
        </div>
    </div>
</main>